* {
	margin: 0;
	padding: 0;	
}

html, body {
	height: 100%;
}

#navbar {
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
	height: 80px;
	background-color: #3767b3;
	color: white;
	font-family: 'Baloo Da 2', cursive;
}

#navbar > label {
	margin: 0 0 0 15px;
}

h2 {
	text-align: center;
	color: #3767b3;
	font-family: 'Abel', sans-serif;
}

#h2-line {
	margin-left: 10%;
	width: 80%;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
}

.row {
	padding-top: 120px;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100%;
	padding-bottom: 80px;
}

.row > div > label {
	color: #3767b3;
	display: block;
	font-family: 'Open Sans Condensed', sans-serif;
}

.row > div > input[type="text"], .row > div > input[type="password"] {
	width: 100%;
}

.ui-inputfield {
	box-shadow: inset 0 1px 2px #c4c4c4;
}

.error-message {
	color: red;
	list-style-type: none;
}

.btn {
	background: #3767b3;
	background-color: #3767b3;
	color: white;
	box-shadow: none;
	text-shadow: none;
}

.btn:hover {
	background: #3767b3;
	background-color: #3767b3;
	color: black;
}

.btn:first-of-type {
	margin-right: 20px;
}

#footer {
	background-color: #3767b3;
	clear: both;
    position: relative;
    height: 80px;
    margin-top: -80px;
	text-align: center;
	padding-top: 15px;
	color: white;
	font-family: 'Baloo Da 2', cursive;
}

#footer > label {
	margin: 0 15px 0 15px;
}